button{
  color: black;
  font-weight: 600;
  float: right;
  border-radius: 2px;
  border: rebeccapurple;
  background-color: white;
  padding: 14px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
button:hover{
  transition: 200ms;
 scale:1.03;
 background-color: orange;
}

.column1{
  height: 50%;
  float: left;
  width: 90%;
}
.column2{
  height: 100%;
  float: left;
  width: 10%;
}
.row{
  height: 30px;
  padding: 20px 90px 0px 10px ;
}

.box{
  background-color: purple !important;
  text-align: left;
  font-size:large;
  text-indent: 10px;
  height: 20%;
  font-weight:900px;
  padding-bottom: 30px;
  padding-top: 1px;
}

.box2{
  margin-left: 100px;
}

.avatar{
  border-radius: 50%;
}

.column1{
  font-size: large;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  color: palevioletred;
  padding-top: 0px;
  
}

.column3{
  float: left !important;
  width: 33% !important;
}
h2{
  margin-top: 70px;
  padding-top: 9px;
}


.profile {
  border: 8px solid purple;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  margin: 20px 5px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  border-radius: 18px;
  background-color: pink;
}

.profile:hover{
  transition:400ms;
  box-shadow: 0 8px 16px 0 rgb(252, 0, 189);
  transform: translateY(-3px);
}
.email {
  color: royalblue;
  font-size: 20px;
  overflow-wrap: anywhere;
}
.name{
  font-size:25px;
  font-weight: bold;
}
.loader{
  margin-left: auto;
  margin-right: auto;
}

